@model AllLayoutModel
<head>
    <style>
        #product__details__tab .nav-tabs {
            border-bottom: none;
            justify-content: center;
        }
    </style>
</head>
<section class="breadcrumb-section set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <section class="col-12">
                <div class="contentbox-header">
                    <h4 style="text-decoration:underline;">İletişim</h4>
                </div>
                <div class="contentbox-body">
                    <div class="list-group list-group-flush contact-us">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Firma Adı
                                </div>
                                <div class="col-12 col-lg-4">
                                    GiyimOver
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Firma Resmi Adı
                                </div>
                                <div class="col-12 col-lg-4">
                                    GiyimOver
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Yetkili Kişi
                                </div>
                                <div class="col-12 col-lg-4">
                                    Hazal Yıldırım
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Telefon 1
                                </div>
                                <div class="col-12 col-lg-4">
                                    <a href="tel:+905300775057">
                                        0542 364 36 86
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    E-mail
                                </div>
                                <div class="col-12 col-lg-4">
                                    <a href="#">
                                        Email
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Adres
                                </div>
                                <div class="col-12 col-lg-4">
                                    Konya
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Ülke
                                </div>
                                <div class="col-12 col-lg-4">
                                    Türkiye
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Şehir
                                </div>
                                <div class="col-12 col-lg-4">
                                    Konya
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Semt
                                </div>
                                <div class="col-12 col-lg-4">
                                    Konya
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Vergi No
                                </div>
                                <div class="col-12 col-lg-4">
                                    34915146980
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Vergi Dairesi
                                </div>
                                <div class="col-12 col-lg-4">
                                    Konya Vergi Dairesi
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Havale Bildirim Formu
                                </div>
                                <div class="col-12 col-lg-7">
                                    <a href="#">
                                        Havale Bildirim Formu
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    Arıza / İade Başvurusu
                                </div>
                                <div class="col-12 col-lg-7">
                                    <a href="#">
                                        Arıza / İade Başvurusu
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    İletişim Formu
                                </div>
                                <div class="col-12 col-lg-4">
                                    <a href="#">
                                        İletişim Formu
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="contact-custom-field">
                        @* <div>&nbsp;Whatsapp: 0530 077 50 57</div>
                            <div>www.instagram.com/melonbebe</div>
                            <div>www.instagram.com/melonbebeailesi</div>*@
                        <div>
                            <br>
                        </div>
                    </div>
                    <div class="contact-us banks">
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>