@model AllLayoutModel
@{
    ViewData["Title"] = "FargotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <section class="checkout spad">
            <div class="container">
                <div class="checkout__form">
                    <form asp-controller="Account" asp-action="FargotPassword" method="post">
                        <div class="row">
                    @if (ViewBag.error != null)
                    {
                        <div class="text-danger">@ViewBag.error</div>
                    }
                    <div class="col-lg-8 col-md-6">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>E-mail<span>*</span></p>
                                            <input type="email" asp-for="UserInfo.Email" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="site-btn btn btn-primary">Şifremi Yenile</button>                                           
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>