@model ResetPasswordModel
@{
    Layout = null;
}

<html>
<head>
</head>
<body>
    <form asp-controller="Account" asp-action="ResetPassword" name="formadd" method="post">
        <div class="row">
            <div class="col-md-8">
                <div asp-validation-summary="All" class="text-danger"></div>       
                  <div class="form-group-row">
                    <label class="col-md-2 col-form-label"> E-Posta</label>
                    <div class="col-md-10">
                        <input type="email" asp-for="Email"  name="Email" disabled="disabled" value="@Model.Email" class="form-control" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                  <div class="form-group-row">
                    <label class="col-md-2 col-form-label"> Şifre</label>
                    <div class="col-md-10">
                        <input type="password" asp-for="Password" name="Password" value="" class="form-control" />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <button type="submit" id="btn1" class=" center-block btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </div>
            </div>
    </form>
</body>
</html>