@model AllLayoutModel
@{
    ViewData["Title"] = "AllContract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="product-details spad">
    <div class="container">
        <div class="row">
            <section class="col-12">
                <div class="contentbox-header">
                    <h4>Tüm Sayfalar</h4>
                </div>    <div class="contentbox-body">
                    <div class="page-list-search row">
                        <div class="col-12 col-lg-6">
                           
                        </div>
                    </div>
                    <div class="page-list-content">
                        <div class="page-list-item">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div class="page-title">
                                        <a asp-controller="Contracts" asp-action="SalesContract" title="Mesafeli Satış Sözleşmesi">
                                            Mesafeli Satış Sözleşmesi
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="page-content">
                                        **ÖRNEKTİR.
                                        KULLANMADAN ÖNCE KENDİ SİTENİZE UYGUN BİR ŞEKİLDE
                                        DÜZENLEYİNİZ**
                                        MESAFELİ SATIŞ SÖZLEŞMESİ
                                        1.TARAFLAR
                                        İşbu Sözleşme aşağıdaki
                                        taraflar arasında aşağıda belirtilen hüküm ve şartlar
                                        çerçevesinde imzalanmıştır.


                                        ‘ALICI’ ; (sözleşmede
                                        bundan sonra "ALICI" olara ...
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    <a asp-controller="Contracts" asp-action="SalesContract" class="btn btn-primary btn-sm">
                                        Devamı
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="page-list-item">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div class="page-title">
                                        <a asp-controller="Contracts" asp-action="PrivacyAndSecurity" title="Gizlilik ve Güvenlik">
                                            Gizlilik ve Güvenlik
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="page-content">
                                        **ÖRNEKTİR.
                                        KULLANMADAN ÖNCE KENDİ SİTENİZE UYGUN BİR ŞEKİLDE
                                        DÜZENLEYİNİZ**


                                        GİZLİLİK
                                        VE GÜVENLİK POLİTİKASI
                                        &nbsp;
                                        Mağazamızda
                                        verilen tüm servisler ve ,…………adresinde kayıtlı &nbsp;……………….Şti.firmamıza aittir ve firmamız tarafından işletilir.


                                        Firmamız,çeş ...
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    <a class="btn btn-primary btn-sm"asp-controller="Contracts" asp-action="PrivacyAndSecurity" >
                                        Devamı
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="page-list-item">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div class="page-title">
                                        <a asp-controller="Contracts" asp-action="CancellationandRefund" title="İptal ve İade Şartları">
                                            İptal ve İade Şartları
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="page-content">
                                        **ÖRNEKTİR.
                                        KULLANMADAN ÖNCE KENDİ SİTENİZE UYGUN BİR ŞEKİLDE
                                        DÜZENLEYİNİZ**


                                        TÜKETİCİ HAKLARI – CAYMA – İPTAL İADE KOŞULLARI


                                        GENEL:


                                        Kullanmakta olduğunuz web sitesi üzerinden elektronik ortamda
                                        sipariş verdiğiniz takdirde, size sunulan ön bilgilendirme
                                        formunu v ...
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    <a class="btn btn-primary btn-sm"  asp-controller="Contracts" asp-action="CancellationandRefund">
                                        Devamı
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="page-list-item">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div class="page-title">
                                        <a asp-controller="Contracts" asp-action="PersonalDataPolicy" title="Kişisel Veriler Politikası">
                                            Kişisel Veriler Politikası
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="page-content">
                                        [Firma İsmi / marka] &nbsp;Kişisel Veriler Politikası
                                        Kişisel Veriler Kanunu hakkında genel bilgilendirme6698 Sayılı Kişisel Verilerin Korunması Kanunu (bundan sonra KVKK olarak anılacaktır) 24 Mart 2016 tarihinde kabul edilmiş, 7&nbsp;Nisan 2016 tarihli 29677 sayılı Resmi G ...
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    <a class="btn btn-primary btn-sm" asp-controller="Contracts" asp-action="PersonalDataPolicy">
                                        Devamı
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </section>
        </div>
    </div>


</section>
